<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <div class="d-flex flex-wrap justify-content-around">
        <form action="/books/add", method="POST" class="p-5 bg-info rounded m-4 col-6 mx-auto">
            <h2>New Books</h2>
            <label>
                Title:
                <input type="text" name="title" class="form-control">
            </label>
            <label>
                Number of Pages:
                <input type="text" name="num_of_pages" class="form-control">
            </label>
            <input type="submit" value="Create" class="btn btn-primary">
        </form>
        <div class="card-body border border-dark w-50 p-3 col-6 mx-auto">
            <h2>All Books
                <div>
                    {% for book in books %}
                    <a href="/books/{{book.id}}">{{book.title}}</a>
                    {% endfor %}
                </div>
            </h2>
        </div>
        <a href="/authors">Home</a>
    </div>
</body>
</html>